@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(Roboto), url(./assets/fonts/roboto-v27-latin-300.woff2) format("woff2"), url(./assets/fonts/roboto-v27-latin-300.woff) format("woff")
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.slider-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
}

.slider-container>input[type="radio"] {
    display: none;
}

.slider {
    width: 47vw;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    max-width: 60vw;
    background-color: rgb(15 53 15);
    padding: 8% 0 5%;
    border-radius: 5%;
    border: 0.4rem solid #c1bba3;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    gap: 2%;
    color: white;
    font-size: 2rem;
}

.slider-text {
    align-self: flex-start;
    margin-bottom: -7%;
    padding: 0 1%;
    width: 75%;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.55em;
    line-height: 1.2em;
    letter-spacing: 0.2rem;
    color: var(--white);
}

.slide-img {
    border-radius: 5%;
    width: 75%;
    height: 75%;
}

.navigation {
    width: 100%;
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3%;
    z-index: 2;
    padding-bottom: 20%;
}

.navigation label:last-child {
    margin-right: 3%;
}

.navigation label {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    background: #d55200;
    border: solid 0.2rem #d55200;
    border-radius: 100vw;
    line-height: 1;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s;
}

.navigation label:hover {
    background-color: rgb(254 186 101);
}

.slider-parent {
    position: relative;
}

.slide {
    transition: transform 0.6s;
}

.label-link {
    padding: 100%;
}

#slide2:checked~.slider-parent .slide {
    transform: translateX(-100%);
}

#slide3:checked~.slider-parent .slide {
    transform: translateX(-200%);
}

#slide4:checked~.slider-parent .slide {
    transform: translateX(-300%);
}

#slide1:checked~.navigation [for="slide1"], #slide2:checked~.navigation [for="slide2"], #slide3:checked~.navigation [for="slide3"], #slide4:checked~.navigation [for="slide4"] {
    background: none;
}

@media (max-width: 1200px) {
    .slider-text {
        padding: 0 1%;
        line-height: 1.2em;
        letter-spacing: 0.2rem;
        color: var(--white);
        width: 90%;
        font-size: 0.8em;
        margin: 1% auto;
    }
    .slider {
        height: 103%;
        width: 70vw;
    }
    .slide {
        gap: 0%;
    }
    .navigation {
        justify-content: center;
        padding-bottom: 41%;
    }
    .navigation {
        margin-top: -28%;
    }
    .slider-text {
        margin-top: 20%;
    }
    .navigation label {
        width: 1rem;
        height: 1rem;
    }
    .slide-img {
        width: 87%;
        height: auto;
    }
}

@media (max-width: 900px) {
    .navigation {
        margin-bottom: 48%;
        margin-top: -204px;
    }
   
}